@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #c6ebe6;
}
a{
    text-decoration: none;
}

@media (min-width: 2001px){
   main{
    background-color: #530909;
   }
   body{
    background-color: #c01212;
   }
}

@media ( max-width: 2000px ){

    body{
        padding: 5%;
        background-color: #c6ebe6;
        height: 100%;
    }
   

    /* Parte superior, logo instagram  Corazon y logo de mensajes */
    header{
        display: flex;
        align-items: center; 
        width: 100%;
        flex-wrap: wrap;
        margin-top: -20px;
        background-color: #f7f2f2;  
        box-shadow: 0px 4px 6px rgba(0,0,0,25%);
        
        }

        header #imagen1{
            width: 200px;
            margin-left: 0px;
        }

        header a{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;

            background-color: rgb(220, 232, 243, 0.5);
            width: 300px;
            border-radius: 10%;
            border: 2px solid #dfdfdf;
            line-height: 42px;
            transition: 500ms;
        }

        header a:hover{
            background-color: rgb(205, 226, 247);
        
        }


        header a img{
            width: 30px;
            margin-right: 5px;
        }
        header div{
            display: flex;
            justify-content: center;
            align-items: center; 
            margin-left: auto;
        }

        header div #casa-inicio{
            width: 80px;
        }
        header div #imagen2{
            width: 43px;
        }
        
        header div #imagen3{
            width: 85px;
        }
        
    /* globos historias */

    main{
        flex-wrap: wrap;
        width: 100%;
        padding: 1.5%;

       } 
    
       #historias h1{
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        text-decoration: underline;
       }

       #historias{
        display: block;
        width: 25%;
        height: 25%;
        float: right;
        background-color: #fcebeb;
        
       }

       #historias img{
        width: 20%;
        flex: 0 0 auto; /* Evita que las imágenes se ajusten */
        height: auto;
        margin: 10% 40% 2% 40% ;
       
        
        }
        
        #historias p{
            color: rgb(0, 0, 0);
            margin-top: -2%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        
        #historias img:nth-of-type(n+4) { /* oculta las historias de la 4ta en adelante */
            display: none;
        }

        #historias img:nth-of-type(n+4) + p {
            display: none; /* Oculta los párrafos que están justo después de las imágenes ocultas */
        }

        #historias a{
            display: flex;
            margin-left: 65%;
            margin-top: 10%;
            text-decoration: underline;
            color: rgb(23, 7, 241);
        }

        /* Sugerencias */

        #sugerencias{
            background-color: #fcebeb;
            max-width: 25%;
            min-width: 25%;
            
            
            float: right;
            margin-top: 3%; 
            clear: right; /* coloca el elemento, debajo del anterior. */
           
        }

        #divMessi,
        #divSuarez,
        #divDimaria{
            display: flex;
            justify-content: left;
            align-items: center;
            flex-wrap: wrap;
        }

        #sugerencias h2{
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: underline;
            padding: 5%;
        }

        #sugerencias img{
            border-radius: 50%;
            width: 50px; /* Ajusta el ancho máximo de todas las imágenes */
            height: 50px; /* Ajusta la altura máxima de todas las imágenes */
            object-fit: cover; /* Evita que las imágenes se distorsionen */
            display: flex;
            margin: 5% 10% 5% 10%;
            
        }

        #sugerencias img,
        #sugerencias p,
        #sugerencias button {
            display: inline-block;
            vertical-align: middle; /* Alinea verticalmente los elementos */
            margin-right: 10px; 
            margin-bottom: 10px; 
            
           
        }   

        #sugerencias p{
            color: black;
        }
     
        #sugerencias a{
           color: rgb(29, 41, 214);
           text-decoration: underline;

        }     

        #Seguir1,
        #Seguir2,
        #Seguir3{
             padding: 0.8%;
             background-color: #8ac9ee;
             border-radius: 10%;
             box-shadow: 4px 4px 4px rgba(2, 12, 143, 0.25);
             white-space: nowrap; 
            }
       
        #Siguiendo1,
        #Siguiendo2,
        #Siguiendo3{
            background-color: #85f1c4;
            padding: 0.8%;
            border-radius: 10%;
            box-shadow: 4px 4px 4px rgba(2, 12, 143, 0.25);
            max-width: 22%; 
            font-weight: bold;
            
        }
        
    
 /* Publicacion */

    #publicaciones {
        width: 70%;
        height: 100%;
        padding: 2%;
        margin-top: 2%;
        
    }

    #parte-superior{
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #puntitos{
        cursor: pointer;
    }

    #reportar{
        background: rgb(238, 212, 212, 0.8);
        color: black;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;
        margin-left: auto;
        

        position: relative;
        z-index: 3;

        padding: 3%;
        transition: 500ms;
        
    }

    #reportar ul li{
        cursor: pointer;
    }


    li:hover{
        background: rgba(240, 204, 204, 0.8);
    }

    #reportar a{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
        font-weight: bold;
        
    
    }

    #reportar h3{
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: underline;
        margin-bottom: 10%;
    }

    #enviar-reporte{
        background: rgba(240, 204, 204, 0.8);
        display: block;
        margin: auto;
        padding: 2%;
        
    }
    #enviar-reporte p{
       
        margin-right: auto;
        font-size: 14px;
        padding: 2%;  
        list-style-type: circle;
        cursor: pointer;
        color: black;
        text-decoration: underline;
    }
   
    #enviar-reporte h2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
        color: black;
        text-decoration: underline;
    }

    #enviar-reporte textarea{
        display: flex;
        margin: auto;
        
    }

    #enviar-reporte button{
        display: flex;
        margin-left: 69%;
        font-size: 15px;
        margin-top: 2%;
        
    }


    #datos-perfil{
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: 5%;
    }
    #datos-perfil p{
        color: black;
        padding: 10px;
    }
    
    #puntitos{
        display: flex;
        justify-content: center;
        width: 10%;
        margin-left: auto;
        margin-right: 2%;
    }

    #parte-foto{
        display: block;
        width: 100%;
        margin-top: 2%;
       }
    
       #foto-messi {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;
        
        position: relative;
        z-index: 1;
       
       }
    
       #reacciones{
        margin-left: 5%; 
        display: flex;  
       }
       
       #reaccion-corazon{
        width: 80px;
        margin-left: 2%;
        cursor: pointer;
       }

       #corazon-sin-relleno{
        width: 38px;
        height: 42px;
        margin-top: 2.5%;
        margin-left: 5%;
        margin-right: 20px;
        cursor: pointer;

        
       }

       #reaccion-comentario{
        width: 80px;
        margin-left: -5%;
       }
       
       #comentarios{
        display: block;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 17px;
        margin-left: 8%;
        margin-top: -15px;
        
       }
       #likeYComentario{
        display: flex;
       }

       #comentarios p{
        margin: 5px;
        display: flex;
       }
    
       #descripcion-foto{
        display: flex;
       }
    
    }

    #agregar-comentario{
        display: block;
        
    }

    #mostrar-comentario{
        box-shadow: 0px 4px 4px rgba(0,0,0,25%);
        resize: none;
    }

    #enviar-comentario{
        display: flex;
        margin: auto;
        font-size: 15px;
        background-color: #8ac9ee;
        margin-top: 7px;
    }


















@media( max-width: 640px ){

    /* Parte superior, logo instagram  Corazon y logo de mensajes */
 
   header #imagen1{
    width: 300px;
   }
   
   #casa-inicio{
    display: none;
   }

   header div{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: auto;
   }

   header div #imagen2{
    width: 50px;
   }
   
   header div #imagen3{
    width: 100px;
   }
   
  /* Globos de historias */
   
  body{
    background-color: #c6ebe6;
    height: 100%;
    padding: 0%;
    }

 

   #historias{
    background-color: #fcebeb;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    white-space: nowrap;
    overflow-x: auto; /* barra para desplazar*/
    box-shadow: 0px 4px 6px rgba(0,0,0,25%);
    }

   #historias img{
    width: 20%;
    flex: 0 0 auto; /* Evita que las imágenes se ajusten */
    height: auto;
    margin: 20px 20px 20px 20px;
    z-index: 1;
    
   }
   #foto-de-perfil img::after{
    content: '➕';
    color: blue;
    background-color: navy;
   }


    /* publicaciones */


   #publicaciones {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 2%;
   }

   #parte-superior{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   #datos-perfil{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 5%;
   }
   #datos-perfil p{
    color: black;
    padding: 10px;
   }
   
   #puntitos{
    display: flex;
    justify-content: center;
    width: 10%;
    margin-left: auto;
    margin-right: 2%;
   }

   /* Foto y comentarios */

   #parte-foto{
    display: block;
    width: 100%;
    
    
   }

   #foto-messi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 5% ;
   
   }

   #reacciones{
    margin-left: 5%;   
   }
   
   #reaccion-corazon{
    width: 80px;
   }
   #reaccion-comentario{
    width: 80px;
    margin-left: -5%;
   }
   
   #comentarios{
    display: block;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 17px;
    margin-left: 8%;
    margin-top: -15px;
    
   }
   #comentarios p{
    margin: 5px;
   }

   #descripcion-foto{
    display: flex;
   }

}